<another-component>
<div>
<h1>{state.cheese}</h1>
<my-component message="brie"></my-component>
</div>

<script>
export default {
    state: {
        cheese: "gouda"
    }
}

</script>

</another-component>