<%- include("./partials/head.ejs", {title: "bread page"}) %>

<%- include("./partials/header.ejs") %>

<ul>
    <% for (bread of breads)  {%>

        <li><%= bread %></li>

    <% } %>
</ul>

<%- include("./partials/footer.ejs") %>