
<%- include("./partials/head.ejs", {title: "styling page"}) %>

<%- include("./partials/header.ejs") %>
<div id="styling">
<h1>fdsdfsdfsdf</h1>

<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
</ul>
</div>

<%- include("./partials/footer.ejs") %>