<head>
    <title><%= title %></title>
    <script src="/simplerpc-client.js" defer></script>
    <script src="/configure-client.js" defer></script>
    <script src="/<%= jsfile %>" defer></script>
    <link rel="stylesheet" href="/<%= cssfile %>">
</head>