<footer>
    <nav>
        <a href="/"><div>Home</div></a>
        <a href="/bread"><div>Bread</div></a>
        <a href="/styling"><div>Styling</div></a>
    </nav>
    <style>
        nav {
            border: 3px solid green;
        }
    </style>
</footer>