<header>
    <h1>Title of Website</h1>
    <nav>
        <a href="/"><div>Home</div></a>
        <a href="/bread"><div>Bread</div></a>
        <a href="/styling"><div>Styling</div></a>
    </nav>
</header>