header, footer {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    background-color: burlywood;
    margin: 5px;
}

#styling h1 {
    text-align: center;
    color: purple;
}