{% extends "base.html" %}
{% block title %}firstpage{% endblock %}


{% block content %}
{% for todo in todos %}
<h1>{{todo.message}}</h1> <a href="/deletetodo/{{todo.id}}"><button>Delete</button></a>
{% endfor %}

<form action="/maketodo" method="post">
    {{csrf_field}}
<input type="text" name="message" placeholder="What to do?">
<input type="submit" value="Create Todo">
</form>
{% endblock %}


{% block js %}

{% endblock %}

{% block head %}
<script src="/js/firstpage.js" type="text/babel" defer></script>
{% endblock %}