<!-- Root element for center items -->
{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col h-screen bg-gray-100">
    <!-- Auth Card Container -->
    <div class="grid place-items-center mx-2 my-20">
        <!-- Auth Card -->
        <div class="w-11/12 p-12 sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-4/12 
            px-6 py-10 sm:px-10 sm:py-6 
            bg-white rounded-lg shadow-md lg:shadow-lg">
            {% for todo in todos %}
            <h1>{{todo.message}}</h1>
            {% endfor %}

            <form action="/create_todo" method="POST">
                {{ csrf_field }}
                <input type="text" name="message">
                <input type="submit" value="create todo">
            </form>
        </div>
    </div>
</div>

{% endblock %}