<div>

</div>
<% pokemon.forEach((poke, index) => { %>
<h1 onclick="renderPokemon(<%= index %>)"><%= poke.name %></h1>

<% }) %>

<script>


    function renderPokemon(index){
        fetch(`http://localhost:3000/getpokemon/${index}`)
        .then(response => response.json())
        .then(p => {
            const div = document.querySelector("div")
            div.innerHTML = ""
            div.innerHTML = `
            <h1>${p.id} - ${p.name}</h1>
            <img src="${p.img}" alt="${p.name}">
            `
        })
        
        
        
    }


</script>